$Dark-Blue: #202733;
$Dark-Grayish-Blue: #313a48;
$Grayish-Blue: #4f5d74;
$Light-Cyan: #cee3e9;
$Neon-Green: #53ffaa;

// breakpoints
$br-xs: 0;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1200px;
$br-xxl: 1400px;
