<section class="card">
  <div class="card-header">
    <h1 class="advicie-title">ADVICE # <span id="advicie-id">208</span></h1>
  </div>
  <article class="card-content">
    <h2 id="advice">“Play is the true mother of invention.”</h2>
  </article>
  <footer class="card-footer">
    <div class="divider">
      <div class="line"></div>
      <div class="quotation-mark"></div>
      <div class="quotation-mark"></div>
      <div class="line"></div>
    </div>
  </footer>
  <div role="button" class="dice-btn">
    <div class="dice dot-5" id="dice">
      <div class="dice-dot"></div>
      <div class="dice-dot"></div>
      <div class="dice-dot"></div>
      <div class="dice-dot"></div>
      <div class="dice-dot"></div>
      <div class="dice-dot"></div>
    </div>
  </div>
</section>
